# Import Required Libraries
Import the necessary libraries, including pandas and pyarrow.

In [1]:
import pandas as pd

# Load Dataset
Load the dataset from the 'dataset/ev_data.parquet' file using pandas.

In [2]:
# Load Dataset
file_path = "../dataset/ev_data_cleaned.parquet"
df = pd.read_parquet(file_path, engine="pyarrow")

# Display the first few rows of the dataframe to verify loading
df.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,...,Fetched Range,Electric Range,Max Range,Fetched Price,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5UXTA6C0XM,Kitsap,Seabeck,WA,98380.0,2021,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,...,0,30.0,30.0,60000,0.0,35.0,267929112,POINT (-122.8728334 47.5798304),PUGET SOUND ENERGY INC,5.303509e+10
1,5YJ3E1EB1J,Kitsap,Poulsbo,WA,98370.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,...,322,215.0,322.0,35490,0.0,23.0,475911439,POINT (-122.6368884 47.7469547),PUGET SOUND ENERGY INC,5.303509e+10
2,WP0AD2A73G,Snohomish,Bothell,WA,98012.0,2016,PORSCHE,PANAMERA,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,...,0,15.0,15.0,85000,0.0,1.0,101971278,POINT (-122.206146 47.839957),PUGET SOUND ENERGY INC,5.306105e+10
3,5YJ3E1EB5J,Kitsap,Bremerton,WA,98310.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,...,322,215.0,322.0,35490,0.0,23.0,474363746,POINT (-122.6231895 47.5930874),PUGET SOUND ENERGY INC,5.303508e+10
4,1N4AZ1CP3K,King,Redmond,WA,98052.0,2019,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,...,150,150.0,150.0,29990,0.0,45.0,476346482,POINT (-122.13158 47.67858),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10

# Display Dataset Information
Use the info() method to display information about the dataset, including the number of non-null values and data types.

In [3]:
# Display Dataset Information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210165 entries, 0 to 210164
Data columns (total 21 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         210165 non-null  object
 1   County                                             210161 non-null  object
 2   City                                               210161 non-null  object
 3   State                                              210165 non-null  object
 4   Postal Code                                        210161 non-null  float64
 5   Model Year                                         210165 non-null  int64
 6   Make                                               210165 non-null  object
 7   Model                                              210165 non-null  object
 8   Electric Vehicle Type                              210165 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  210165 non-null  object
 10  Full Vehicle Name                                  210165 non-null  object
 11  Fetched Range                                      210165 non-null  int64
 12  Electric Range                                     210160 non-null  float64
 13  Max Range                                          210165 non-null  float64
 14  Fetched Price                                      210165 non-null  int64
 15  Base MSRP                                          210160 non-null  float64
 16  Legislative District                               209720 non-null  float64
 17  DOL Vehicle ID                                     210165 non-null  int64
 18  Vehicle Location                                   210155 non-null  object
 19  Electric Utility                                   210161 non-null  object
 20  2020 Census Tract                                  210161 non-null  float64
dtypes: float64(6), int64(4), object(11)
memory usage: 33.7+ MB

# Check for Missing Values
Check for missing values in the dataset using the isnull() method and sum() function.

In [4]:
# Check for Missing Values
missing_values = df.isnull().sum()
missing_values

VIN (1-10)                                             0
County                                                 4
City                                                   4
State                                                  0
Postal Code                                            4
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Full Vehicle Name                                      0
Fetched Range                                          0
Electric Range                                         5
Max Range                                              0
Fetched Price                                          0
Base MSRP                                              5
Legislative District                                 445
DOL Vehicle ID                                         0
Vehicle Location                                      10
Electric Utility                                       4
2020 Census Tract                                      4
dtype: int64

# Summary Statistics
Generate summary statistics for numerical columns using the describe() method.

In [5]:
# Summary Statistics
summary_statistics = df.describe()
summary_statistics

,Postal Code,Model Year,Fetched Range,Electric Range,Max Range,Fetched Price,Base MSRP,Legislative District,DOL Vehicle ID,2020 Census Tract
count,210161.000000,210165.000000,210165.000000,210160.000000,210165.000000,210165.000000,210160.000000,209720.000000,2.101650e+05,2.101610e+05
mean,98178.209406,2021.048657,218.842557,50.602241,222.430072,45740.303547,897.676889,28.929954,2.290774e+08,5.297929e+10
std,2445.429402,2.988941,131.836543,86.973210,126.528726,16239.507861,7653.588604,14.908392,7.115519e+07,1.551466e+09
min,1731.000000,1999.000000,0.000000,0.000000,0.000000,12000.000000,0.000000,1.000000,4.469000e+03,1.001020e+09
25%,98052.000000,2019.000000,75.000000,0.000000,82.000000,35490.000000,0.000000,17.000000,1.948816e+08,5.303301e+10
50%,98125.000000,2022.000000,303.000000,0.000000,303.000000,42000.000000,0.000000,32.000000,2.405164e+08,5.303303e+10
75%,98374.000000,2023.000000,326.000000,42.000000,326.000000,49990.000000,0.000000,42.000000,2.629758e+08,5.305307e+10
max,99577.000000,2025.000000,520.000000,337.000000,520.000000,845000.000000,845000.000000,49.000000,4.792548e+08,5.602100e+10

# Unique Values in Categorical Columns
Display the unique values in each categorical column using the unique() method.

In [6]:
# Unique Values in Categorical Columns
categorical_columns = [
    "VIN (1-10)",
    "County",
    "City",
    "State",
    "Make",
    "Model",
    "Electric Vehicle Type",
    "Clean Alternative Fuel Vehicle (CAFV) Eligibility",
    "Vehicle Location",
    "Electric Utility",
]

unique_values = {col: df[col].nunique() for col in categorical_columns}
unique_values

{'VIN (1-10)': 12377,
 'County': 203,
 'City': 758,
 'State': 47,
 'Make': 43,
 'Model': 153,
 'Electric Vehicle Type': 2,
 'Clean Alternative Fuel Vehicle (CAFV) Eligibility': 3,
 'Vehicle Location': 931,
 'Electric Utility': 74}